{% extends 'base.html.twig' %}

{% block title %}
    {{ serie.name }} | {{ parent() }}
{% endblock %}

{% block main %}
    <h2>{{ serie.name }}</h2>
    <p>{{ serie.overview }}</p>
    {% for season in serie.seasons %}
        <h3>Season #{{ season.number }}</h3>
        {% if(season.overview) %}
            <p>{{ season.overview }}</p>
        {% endif %}
    {% endfor %}
{% endblock %}