<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Series!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
</head>
<body>
<header>...</header>
<nav>
    <ul>
        <li><a href="{{ path('app_default_home') }}">Home</a></li>
        <li><a href="{{ path('app_default_yo') }}">Yo</a></li>
        {% if(app.user) %}
            <li><a href="{{ path('app_logout') }}">Logout</a></li>
        {% else %}
            <li><a href="{{ path('app_login') }}">Login</a></li>
            <li><a href="{{ path('app_register') }}">Register</a></li>
        {% endif %}
    </ul>
</nav>
{% for category, messages in app.flashes %}
    {% for message in messages %}
        <div class="flash flash-{{ category }}">{{ message }}</div>
    {% endfor %}
{% endfor %}
<main>
    {% block main %}{% endblock %}
</main>
<footer>
    &copy; ENI {{ date() | date('Y') }}
</footer>
</body>
</html>
